<div id="firechat-wrapper"></div>
<script type='text/javascript'>
  var firechatRef = new Firebase('https://songvice.firebaseio.com');
firechatRef.auth('<%= current_user.chat_token %>');
  var chat = new FirechatUI(firechatRef, document.getElementById("firechat-wrapper"));
  chat.setUser('<%= current_user.id %>', '<%= current_user.name %>');
</script>