

<div class="container">

      <div class="starter-template">
        <h1>Firechat for Rails</h1>
        <p class="lead">by Songvice</p>
      </div>
      <div class="text-center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-default" %>
      </div>

    </div>